.default-label{
	-fx-border-color:black;
	-fx-background-color:white;
}

.selected-label{
	-fx-border-color:black;
	-fx-background-color:#cccccc;
}

.selected-number{
	-fx-border-color:black;
	-fx-background-color:#b3b300;
}

.selected-date{
	-fx-border-color:black;
	-fx-background-color:#00b3b3;
}

.number-label{
	-fx-border-color:black;
	-fx-background-color:yellow;
}

.date-label{
	-fx-border-color:black;
	-fx-background-color:cyan;
}